# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# build directories
build
lib
bin

*.sublime-workspace

*.txt.user
*.*~
.svn

*.blend1
*.blend2
scene.*.blend

