<launch>
    <arg name="model" default="$(find
        segwayrmp400_description)/urdf/segwayrmp400.urdf.xacro" />
    
	<param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find segwayrmp400_description)/launch/sim.rviz" required="true" />
</launch>
