<launch>
    <include file="$(find segwayrmp440)/launch/span.launch"/> 

    <include file="$(find segwayrmp440)/launch/propak.launch"/> 

    <include file="$(find segwayrmp440)/launch/trailer_estimator.launch"/> 

    <include file="$(find segwayrmp440)/launch/topic_throttle_trailer.launch"/> 

    <include file="$(find segwayrmp440)/launch/segway.launch"/> 

    <include file="$(find segwayrmp440)/launch/trailer_controller_node.launch"/> 


</launch>

