<launch>
    <include file="$(find segwayrmp440)/launch/span.launch"/> 

    <include file="$(find segwayrmp440)/launch/propak.launch"/> 

    <include file="$(find segwayrmp440)/launch/topic_throttle_robot.launch"/> 

    <include file="$(find segwayrmp440)/launch/segway.launch"/> 

    <include file="$(find segwayrmp440)/launch/robot_controller_node.launch"/> 

</launch>

