<launch>
    <include file="$(find segwayrmp440)/launch/robot_gps.launch"/> 

    <include file="$(find segwayrmp440)/launch/trailer_gps.launch"/> 

    <include file="$(find segwayrmp440)/launch/trailer_estimator.launch"/> 

    <include file="$(find segwayrmp440)/launch/topic_throttle_trailer.launch"/> 

    <include file="$(find segwayrmp440)/launch/segway.launch"/> 

    <include file="$(find segwayrmp440)/launch/robot_transforms.launch"/> 

    <include file="$(find segwayrmp440)/launch/trailer_transforms.launch"/> 

    <include file="$(find segwayrmp440)/launch/trailer_controller_node.launch"/> 

    <include file="$(find segwayrmp440)/launch/segway_joy_teleop.launch"/>

    <include file="$(find segwayrmp440)/launch/aggregator.launch"/>

    <include file="$(find segwayrmp440)/launch/safety_controller_w_trailer.launch"/>

    <include file="$(find segwayrmp440)/launch/topicLogger_server.launch"/>

    <include file="$(find segwayrmp440)/launch/dual_em61.launch"/>

</launch>

