<launch>
  	<group ns="robot">
        <param name="tf_prefix"  value="robot" />
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find segwayrmp400_description)/urdf/segwayrmp400.urdf.xacro'" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    </group>
</launch>