<launch>
	<!-- Start the novatel node -->
	<node pkg="novatel" type="novatel_node" name="span_node" output="screen" 
	    required="true">

		<param name="port" value="/dev/ttyS0" />
		<param name="baudrate" value="115200" />
		<param name="odom_topic" value="/segway/odom" />
		<param name="log_commands" value="" />
		<param name="configure_port" value="COM2,38400,CMR,NONE" />
		<!-- <param name="log_commands" value="BESTUTMB ONTIME 1.0; BESTVELB ONTIME 1.0" /> -->
		<param name="gps_default_logs_period" value="0.00" />
		<param name="span_default_logs_period" value="0.05" />
	</node>

</launch>

