<launch>
    <include file="$(find segwayrmp400_sim)/launch/morse_sim.launch"/> 

    <include file="$(find segwayrmp400_description)/launch/transforms.launch"/> 

    <include file="$(find segwayrmp400_sim)/launch/controller_node.launch"/> 

    <node pkg="mjpeg_server" type="mjpeg_server" name="mjpeg_server"
          output="screen" required="true"/>

</launch>

